<%- include ../templates/header.ejs %>
  <div class="container">

    <br>
    <ol class="breadcrumb" >
      <h3 style="text-align:center;">Selamat Datang di Website Portal Siswa </h3>
    </ol>

  </div>
  <%- include ../templates/footer.ejs %>