<!-- /.content-wrapper -->
</div>
<footer class="main-footer" style="
text-align: center;">
    <strong> <a href="/">CRUD SISWA</a> | Learn CRUD Siswa Data with Automatic Testing</strong>
</footer>
<%- include js.ejs %>
</body>

</html>