<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Data Siswa | AdminLTE 2</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <!-- Latest compiled JavaScript -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- adminlte -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/font-awesome/css/font-awesome.min.css" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/Ionicons/css/ionicons.min.css" />
  <!-- Theme style -->
  <link rel="stylesheet" href="/script-adminlte/dist/css/AdminLTE.min.css" />
  <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/script-adminlte/dist/css/skins/_all-skins.min.css" />
  <!-- Morris chart -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/morris.js/morris.css" />
  <!-- jvectormap -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/jvectormap/jquery-jvectormap.css" />
  <!-- Date Picker -->
  <link rel="stylesheet"
    href="/script-adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/script-adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />

  <title>AdminLTE</title>
  <link rel="stylesheet" href="/script-adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/font-awesome/css/font-awesome.min.css" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/Ionicons/css/ionicons.min.css" />
  <!-- jvectormap -->
  <link rel="stylesheet" href="/script-adminlte/bower_components/jvectormap/jquery-jvectormap.css" />
  <!-- Theme style -->
  <link rel="stylesheet" href="/script-adminlte/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/script-adminlte/dist/css/skins/_all-skins.min.css" />
  <!-- sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->

<body class="layout-top-nav skin-purple">
  <div class="wrapper">
    <%- include top-navigation.ejs %>